@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(espaco.png);

    min-height: 844px;
    

    /* background-image: linear-gradient( 80deg, red, green, blue) */
}


@media  screen and (min-width:320px){
    .img_astronauta{
        width: 85%;
        background-image: url();
    }
}

.img_astronauta{
   
}




