@charset "UTF-8";

*{
    font-family: 'inter', sans-serif;
    color: white;
}

body{background-color: rgb(162, 122, 199);}


div{
background-color: rgb(75, 93, 180);
width: 500px;
height: 500px;
padding: 60px ;
}

div{
background-color: #2a427a;
margin: 60px auto;
border-radius: 10px; }


h1{ 
    height: 80px 40px;
    border: 20px solid white;
    border-radius: 50px;
    font-size: 60px; 
    padding: 20px;
   
}
p{
    padding: 60px 40px;
}
